.dropdownItem{
width: 200px;
height:50px;
display: flex;
align-items: center;
justify-content: center;
background-color:white;
transition:background-color .2s;
cursor:pointer;
}
.dropdownItem:hover{
    background-color: rgb(232, 232, 232);
}
#dropdownItems{
    border-radius: 10px;
    transform: translate(-75%,-102%);
    animation: fadeIn .2s;
    border-radius: 10px;
    overflow: hidden;
    border:black solid 4px;
    position: absolute;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
  }