#settingsHeader{
    width:100%;
    font-size: 35px;
    text-align: center;
    padding:10px 0px;
    border-bottom: black solid;
}
#settingsContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 20px;
}
#settings{
    padding:15px 0px;
}
.section{
    height:100%;
    flex-grow: 1;
}
#blockViewer{
    border-left: black solid;
    width: 50%;
    flex-grow: 0;
    padding: 5%;
    box-sizing: border-box;

    display:flex;
    align-items: center;
}