#settingsHeader{
    width:100%;
    font-size: 45px;
    text-align: center;
    padding:10px 0px 5px 0px;
    border-bottom: #fcf2f2 solid;
}
#settingsContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-bottom: 20px;
    overflow:hidden;
    justify-content: center;
}
#settings{
    padding:15px 0px;
}
.section{
    height:100%;
    flex-grow: 1;
}
#blockViewer{
    border-left: black solid;
    width: 50%;
    flex-grow: 0;
    padding: 5%;
    box-sizing: border-box;

    display:flex;
    align-items: center;
}
.settingsGroupName{
    font-size:25px;
    text-align: center;
    border-bottom: black solid 2px;
    /* margin:0px 15px; */
}
.settingsGroupContainer{
    padding: 0px 20px;
}
.booleanInput{
    font-size:20px;
}
.dropdownInput{
    font-size:20px;
}
input[type=checkbox]{
    width:18px;
    height:18px;
}
.settingContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}
.settingsContainer{
    padding:10px 0px;
    display:flex;
    flex-direction: column;
    gap:50px;
    height: 100%;
    box-sizing: border-box;
    overflow-y:auto;
}
.groupContent{
    padding:5px 0px;
}