/* #agendaEventContainer1{
    top: -5px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
*/
#eventContainer1{
    gap: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    padding:5px !important;
}
.date-label{
    font-weight: bold !important;
    padding: 10px 0px 3px 1em !important;
    position: relative !important;
    background: none !important;
}
.event-summary{
    margin:.3em 0em !important;
}
.event{
    margin:0px 1em !important;
}
.view-container-border{
    background-color:white !important;
}
.day{
    box-shadow: rgba(0,0,0,15%) 0px 0px 4px !important;
    border:none !important;
    border-radius: 5px !important;
}