/* #agendaEventContainer1{
    top: -5px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
*/
#eventContainer1{
    gap: 10px !important;
    display: flex !important;
    flex-direction: column !important;
    padding:5px !important;
}
.date-label{
    font-weight: bold !important;
    padding: 10px 0px 3px 1em !important;
    position: relative !important;
    background: none !important;
    display:flex !important;
    font-size:4.5vw !important;
}
/* .date-label::before{
    content:"" !important;
    background:red;
    display:block;
    height: 2px !important;
    width:15px !important;
    align-self: center;
    margin: 0px 5px;
    background: #1f1f1f !important;
    border-radius: 5px;
}
.date-label::after{
    content:"" !important;
    background:red;
    display:block;
    flex-grow: 1;
    height: 2px !important;
    align-self: center;
    margin: 0px 5px;
    background: #1f1f1f !important;
    border-radius: 5px;
} */
.event-summary{
    margin:.3em 0em !important;
}
.event{
    margin:0px 1em !important;
    font-size:2vw;
}
.view-container-border{
    background-color:white !important;
}
.day{
    /* box-shadow: rgba(0,0,0,15%) 0px 0px 4px !important; */
    box-shadow: none !important;
    border:none !important;
    border-radius: 5px !important;
}
#viewContainer1{
    height: 100vh;
}
#agenda1{
    height: 100vh;
}
#agendaEventContainer1{
    height: 100vh;
}
#footer1{
    display:none;
}
.event-details{
    display:none !important;
}