#addBlockButton {
  box-shadow: rgb(0 0 0 / 34%) 0px 0px 4px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(237, 230, 230) solid 1px;
  background: white;
  cursor: pointer;

  transition: transform 0.1s, box-shadow 0.1s;

  animation: introFade 0.2s linear;
}
#addBlockButton:active {
  box-shadow: rgb(191, 186, 186) 0px 0px 2px;
  transform: translateY(2px);
}

@keyframes introFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#addContainer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-gap: 10px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px 0px 0px 0px;
  background: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 10%) 0px 0px 3px;
}

.block {
  overflow: hidden;
  border-radius: 5px;
  box-sizing: border-box;
  transition: box-shadow 0.2s;
  color: white;
  /* text-shadow: rgba(0,0,0,10%) 0px 0px 20px; */
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 10%));
  transition: background 0.1s, backdrop-filter 0.1s, border 0.1s;
}
.block--glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.block--trasparent {
  background: none;
}

.block::before {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: transparent;
  position: absolute;
  /* content:""; */
  backdrop-filter: blur(2px);
}

.block--editing {
  transition: filter .1s;
}
.block--editing:hover {
  filter:drop-shadow(0px 0px 20px rgba(0, 0, 0, 10%)) drop-shadow(0px 2px 4px #00000040);
}
.block--focused {
  box-shadow: rgba(0, 0, 0, 80%) 0px 0px 2px,
    inset rgba(0, 0, 0, 80%) 0px 0px 2px;
  border: white solid !important;
}

.resizeBox {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.766);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  animation: introFade 0.1s linear;

  background: white;
  backdrop-filter: blur(10px);

  box-shadow: rgba(0, 0, 0, 80%) 0px 0px 2px;
}
.blockResizeHandleWrapper > * {
  padding: 2.5px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;

  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: black solid;
  border-radius: 0.3em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  transition: box-shadow 0.1s;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 0.2em;
  background: black;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

  transition: opacity 0.05s;
  opacity: 0;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

input[type="checkbox"]:focus {
  box-shadow: rgba(0, 0, 0, 50%) 0px 0px 2px;
  outline: none;
}
