div.block:has(.RenderBlocker){
  /* We have to target the parent element (the actual dragable block) when bluring the background */
  backdrop-filter: blur(5px);
}
.RenderBlocker {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 10px;
}
.blockMessage {
  /* opacity:.8; */
  width:60%;
  height:20%;
}
.blockHumanName{
    /* opacity:.8; */
    width:80%;
    height:30%;
  
}